<html>
<head>
    <title>Hair Salon</title>
</head>
<body>
    <h1>Its a hairy world out there!</h1>

    <p>Add a new stylist to your list:</p>

    <form action="/stylists" method="post">
        <label for="sylist_name">Stylist name:</label>
        <input id="stylist_name" name="stylist_name" type="text">

        <button type="submit">Add</button>
    </form>

    {% if stylists is not empty %}
        <p>Here's the hair choppers:</p>
        <ul>
            {% for stylist in stylists %}
                <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getStylistName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
      <p>No one is working!</p>
    {% endif %}
    <p><a href="/stylists">Click here</a>to see stylists.</p>
    <p><a href="/clients">Click here</a> to see clients.</p>

</body>
</html>
